body {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #45454f;
}

a {
	color: #ff0000;
	text-decoration: none;
	font-weight: bold;
}

p {
	font-family: Sans-Serif;
	font-size: 16px;
	text-align: justify;
	color: #cccccc;
	margin: 10px;
}

.row {
	border-bottom: solid 16px #a6a6a6;
}

.row img {
	-moz-border-top-left-radius: 82px;
	border-top-left-radius: 82px;
	-moz-border-top-right-radius: 82px;
	border-top-right-radius: 82px;
}

.row p img {
	background: #a6a6a6;
	border: solid 10px #a6a6a6;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.textheader {
	padding: 32px;
}

#holder {
	position: float;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border: solid 16px #a6a6a6;
	background-image: url('imgs/sidebar4.png');
	background-repeat: repeat-y;
	background-position: right top;
	-moz-border-radius: 100px;
	border-radius: 100px;
}